<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <%params.to_a.each.with_index do |entry, i|%> 
    if 
      <h2><%="#{entry[0]}: #{entry[1]}"%></h2>
   
   <%end%>


 </body>
</html>


