<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <%params.to_a.each do |entry|%> 
      
      <h"<%=entry.first? ? 1 : 2%>"><%="#{entry[0]}: #{entry[1]}"%></h"<%=entry.first? ? 1 : 2%>">
   
   <%end%>


 </body>
</html>


